* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "open sans", sans-serif;
}



/* commons */

a {
    color: white;
    text-decoration: none;
}
body {
    background-color: rgba(0, 0, 0, 0.882);
}

ul {
    list-style: none;
    padding-left: 0;
   
}

h3 {
    color: white;
}

/* header */
.nav {
    font-size: 12px;
    font-weight: 600;
    
}
.nav-link {
    color: black
}
.nav-link:hover {
    color: currentColor
}

/* main */
.jumbo {
    
    
    background-image: url(../img/jumbotron.jpg);
    background-size: cover;
    height: 400px;
    position: relative;

    .lable {
        padding: 0.5rem 1rem;
        background-color: blue;
        color: white;
        position: absolute;
        top: 95%;
        left: 15%;

    }
}





section.comics {
    padding: 4rem 0;
}
    .services-list {
    list-style: none;
    color: white;
    padding: 3rem 0;
    justify-content: space-between;
    display: flex;
    width: 95%;
    margin: 0;

    
        
    

        .services-list-items {
            display: flex;
            align-items: center;

                img {
                    max-width: 55px;
                    height: 55px;
                    /* height: 50px; */
                }
            
        
        
            }
    
  
    }


.comic-card {
    

    .comic-card-head {
        
        height: 220px;

        img {
            
            object-fit: cover;
            object-position: 0 0; 
            aspect-ratio: 1/1;
            
        } 
    }
}

.card-lable {
        margin-top: 5rem;
        padding: 0.5rem 1rem;
        background-color: blue;
        color: white;
        
        
    }



.lists-section {
    background-image: url(../img/footer-bg.jpg);
    background-size: cover;
    height: 400px;
    

    .container {
        
        height: 100%;
        display: flex;
        

        .closing-lists {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
        height: 100%;
        width: 100%
        
        }
    }
   .dc-backbround {
        
        height: 100%;   
        width: 100%;
        overflow: hidden;
        position: relative;
       
        img {
            
            
            object-fit: cover;
            scale: 110%;
            position: absolute;
            right: 57px;
            top: -74px;
            
            }
        }
    }



    /* footer */
footer {
    background-color: gray;
    height: 100px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        .sign-up {
            border: 2px solid blue;
            padding: 0.5rem 1rem;
        }


        .social-list>a {
            
            text-decoration: none;
            padding: 0 0.3rem;
        }
    }
}